.TrendContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* Add horizontal scrollbar */
}

.MovContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* Add horizontal scrollbar */
}
