@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bfdbe4;
}

.LoginCard {
  background-color: #eff0cd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poetsen One", sans-serif;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  width: 70%;
  height: 10px;
}

.LoginButton {
  background-color: #582f07;
  color: #bfdbe4;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-family: "Quicksand", sans-serif;
}

.ShowHideButton {
  background-color: #c7ab73;
  color: #582f07;
  margin-top: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 30%;
  font-family: "Quicksand", sans-serif;
}

.logo {
  width: 200px;
}

h1 {
  margin-top: 0px;
}
