@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.LogoLabel {
  font-family: "Poetsen One", sans-serif;
}

.navlogo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.smores {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.burnt {
  width: 26px;
  height: 26px;
  margin-left: 5px;
  position: relative;
  left: 1px;
  bottom: 1px;
}

.home {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-bottom: 1px;
}

.smoresbtn{
  display: block;
  padding: 5px 5px;
  color: black;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color:#bfdbe4;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.burntbtn{
  display: block;
  padding: 5px 5px;
  color: black;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #a57631;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.homebtn{
  display: block;
  padding: 5px 5px;
  color: black;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(199, 207, 169);
  margin-right: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.left-section {
  display: flex;
  align-items: center;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background-color: #f0f4cc;
}

.category {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.NavBar h2 {
  font-size: 15px;
}

.NavBar h1 {
  margin-left: 3px;
  font-size: 25px;
}
.NavBar h1,
h2 {
  margin: 0;
}

.SearchBar {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  height: 20px;
  margin-bottom: 1px;
  margin-right: 15px;
}

.right-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.Dropdown {
  width: 80px;
  height: 31px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.LogoutForm {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.LogoutButton {
  display: block;
  padding: 5px 5px;
  color: black;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  background-color:#b8b8b8;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
