@import url("https://fonts.cdnfonts.com/css/more-sugar");

.Trending p {
  position: relative;
  top: 20px;
  right: 655px;
  font-family: "More Sugar", sans-serif;
  font-size: 20px;
}

.img {
  border-radius: 5px;
  width: 150px;
  height: 180px;
}

.TrendingList {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  right: 30px;
}

.trendcard {
  border-radius: 10px;
  padding: 2px;
  margin: 20px;
  width: 200px;
  display: inline-block;
  position: relative;
  bottom: 100px;
}

.trendcard h3 {
  position: relative;
  bottom: 20px;
}

.trendcard h4 {
  position: relative;
  bottom: 40px;
}
